<html>
    <head>
        <title>lecturer approve</title>
    </head>
    <style>
        img{
            width: 25%;
        }
        footer {
            margin: 20px 0px;
        }
        footer p{
            text-align: center;
            font-size: 12;
            color: rgb(56, 56, 56);
            padding: 0;
        }
    </style>
    
    <body>
        <h2>Dear lecturer <%= name %></h2>
        <p>There is a request of equipment borrowing that need you to review and approve. Access EzBorrow <a href="<%= link %>">here</a> to view the request</p>
        <p>Kind regards,</p>
        <p><strong>EzBorrow website</strong></p>
        <img src="https://res.cloudinary.com/dw725nuqc/image/upload/v1672923717/EzBorrow%20equipment/logo/icon_oabfgo.png" alt="EzBorrow logo">
        
    </body>

    <footer>
        <p>You received this email from EzBorrow website</p>   
        <p>Please do not reply  to this email. Email sent to this address will not be answered.</p>
        <p>Ezborrow | website: <a href="<%= website_link %>">link</a></p>
    </footer>

</html>