.Main {
    background: #00875A;
    display: flex;
}

.profile{
    align-self: flex-end;
    margin-left: auto;
}

.search {
    border-bottom: black solid;
    height: 100px;

}

.search-bar {
    border: black solid;
    height: 34px;
    width: 40%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

input[type=text] {
    height: 30px;
    background: none;
    border: none;
    width: 90%;
}

.btn-search {
    height: 30px;
    width: 30px;
    margin-left: auto;
    background-color: #00875A;
    border: none;
}

.btn-search:active{
    background-color: #34d9a2;
}

.profile-btn {
    background-color: #00875A;
}