.Main {
    background: #00875A;
    background-image: linear-gradient(79deg,#cdffcd,#90ee90 20%, #00875A); 
    display: flex;
    width: 100%;
}

.app_navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app_navbar-logo img{
    width: 50px;
}

.profile{
    align-self: flex-end;
    margin-left: auto;
}

.search {
    height: 100px;
}

.search-bar {
    border: 1px solid #B3B3B3;
    height: 34px;
    width: 40%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    box-shadow: 2px 1px gray;
}

input[type=text] {
    height: 30px;
    background: none;
    border: none;
    width: 90%;
    margin-left: 10px;
}

.btn-search {
    height: 32px;
    width: 32px;
    margin-left: auto;
    background-color: #00875A;
    border: none;
}

.btn-search:active{
    background-color: #34d9a2;
}

.profile-btn {
    background-color: #00875A;
}