.sideBarContainer{
    box-sizing: border-box;
    position: absolute;
    width: 20%;
    min-width: 120px;
    height: 72%;
    left: 0px;
    top: 200px;
    background: #F8F8F8;
    border: 1px solid #B3B3B3;
    font-size: 24px;
    font-weight: 500;
}
.nonActive{
    width: 100%;
    height: 82px;
    left: 0px;
    top: 34px;
    background: #4FBF78;
    text-align: center;
    color:white;
    margin-bottom: 1px;
    padding-top: 21px;
    border: none;
}
.active{
    background-color: #00875A !important;
    width: 100%;
    height: 82px;
    left: 0px;
    top: 34px;
    text-align: center;
    color:white;
    margin-bottom: 1px;
    padding-top: 21px;
    border: none;
}
.sideBarCloseOpentBtn{
    display:none; 
}

@media screen and (max-width: 500px){
    .sideBarContainer .dashboardClose,.requestClose{
        display: none;

    }
    .sideBarContainer{
        position:relative;  
        top: 5%;
        left: 5px;
        border-style:hidden;
        z-index: 10;
        min-width: 20px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        background-color: rgba(0, 0, 0, 0);
    }
    .sideBarContainerOpen{
       width: fit-content;
    }
    .sideBarContainerOpen .sideBarCloseOpentBtn{
        background-color: #4FBF78;
    }
    .main-page{
        position: absolute;  
        top: 0;
        left: 0;
        z-index: 10;
    }
    .sideBarCloseOpentBtn{
        display:block;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        padding: 15px 15px;
        /* border-radius: 8px; */
        border-style: none;
        /* border-bottom-right-radius: 0;
        border-bottom-left-radius: 0; */
        width: 56.25px;
        height: 56.25px;
        /* width: 100%; */
    }
    .sideBarCloseOpentBtn:active{
        background-color: #00875A;
       
    }
    .sideBarContainer .dashboardOpen,.sideBarContainer .requestOpen{
        display:block;
        background-color: #4FBF78;
        color: white;
        padding: 5px 20px;
        border-style: none;
        font-size:large;
        width: 100%;
        height: 40px;
        margin:0;
   }
   .dashboardOpen:active, .requestOpen:active{
    background-color: #00875A;
   
   }
   
   
}



