.search {
    
    width: 100%;
}

.search-bar {
    border: 1px solid #B3B3B3;
    height: 50px;
    width:30%;
    border-radius: 4rem;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* box-shadow: 2px 1px gray; */
    
}

input[type=text] {
    height: 30px;
    background: none;
    border: none;
    width: 90%;
    margin-left: 10px;
    margin-top: 1rem;
}

.btn-search {
    height: 50px;
    width: 50px;
    margin-left: auto;
    background-color: #00875A;
    border: none;
    border-radius: 4rem;
}

.btn-search:active{
    background-color: #34d9a2;
}