#contained-modal-title-vcenter {
    font-weight: bold;
    color: #00875A;
    display: flex;
    justify-content: center;
}

.bold-words{
    font-weight: 400;
}


.input-box{
    width: 60%;
}

.confirm-header{
    margin-bottom:1.5rem;
    margin-top: 1.5rem;
}

.request-form-modal-body{
    overflow-y:auto;
    height: 70vh;
}