.dashboard-container {
    border: 1px solid black;
    width: 50%;
    position: absolute;
    margin-left: 28%;
    margin-top: 0px;
    display: flex;
    top: 200px;
    
    box-shadow: 0 10px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: none;
}

.action-btn{
    padding: 4px 12px;
    margin: 4px 0;
}

.dashboard-table {
    width: 100%;
}

.dashboard-table thead td{
    color: white;
    background-color: #00875A;
    padding: 2px;
}

.dashboard-table td {
    padding: 2px;
}

.dashboard-table tr:nth-child(even) {
    background-color: rgb(221, 220, 220);
}