.bold-words-header{
    font-weight: bold;
    text-transform: uppercase;
    /* background-image: linear-gradient(to bottom right, #00875A, #90ee90); */
    color: white;
}

.modal-header{
    background-image: linear-gradient(to bottom right, #00875A, #90ee90);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal-title{
    color: white !important;
}

.modal-open{
    padding-right: 0 !important;
}

.bold-words{
    font-weight: bold;
    font-size:x-large;
}

.form-modal{
    margin-top: 6vh;
}

.Edit-info ::placeholder{
    color: black;
    font-size: large;
}

#update-btn{
    background-color: #00875a;
}

.Edit-info input{
    font-size: large;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: rgba(0, 135, 90, 0.3);
    padding: 20px 10px;
    outline-color: #00875a;
    height: 30px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.Edit-info select{
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: rgba(0, 135, 90, 0.3);
    outline-color: #00875a;
}

.modal-content{
    border-radius: 20px;
}

#modal-popup{
    margin-top: 20%;
}

.wordss{
    font-size: larger;
}