body {
    text-align: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background-image: linear-gradient(79deg,#90ee90,#cdffcd 48%, #e6ffe6);
}

.auth-form-container, .login-form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    padding: 0.5rem 0;
}

input{
    margin: 0.5rem 0;
    border-radius: 5px ;
    padding: 0.75rem;
    border:none;
}

button{
    border: none;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 10px ;
}