.compo-container {
    width: 70%;
    position: absolute;
    margin-left: 25%;    
    display: flex;   
    padding: 5px;  
    top: 200px;
    margin-top: 0px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
}
.compo-item {
    padding: 2px;
    border: 10px solid #00875A;
    width: 40%;
    height:300px;
    border-radius: 20px;
    margin-left: 40px;
    margin-bottom: 40px;
    
}

.compo-img{
    border-bottom: 1px solid #00875A;
}

.product-inf{
    padding: 10px 12px;
}

.product-des{
    display: flex;
    justify-content: space-around;
    color: #00875A;
}