.compo-container {
    width: 70%;
    position: absolute;
    margin-left: 25%;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    top: 200px;
    padding: 5px;
    
}

.compo-item {
    padding: 2px;
    border: 10px solid #00875A;
    width: 15%;
    height:300px;
    border-radius: 20px;
    
}

.compo-img{
    border-bottom: 1px solid #00875A;
}

.product-inf{
    padding: 10px 12px;
}

.product-des{
    display: flex;
    justify-content: space-around;
    color: #00875A;
}