#contained-modal-title-vcenter {
    font-weight: bold;
    color: #00875A;
    display: flex;
    justify-content: center;
}

.bold-words{
    font-weight: bold;
}

.Student-info{
    margin-top: 20px;
}