.dashboard-container {
    border: 1px solid black;
    width: 60%;
    position: absolute;
    margin-left: 28%;
    margin-top: 0px;
    display: flex;
    top: 200px;
    
    box-shadow: 0 10px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: none;
}
.action-btn{
    padding: 4px 12px;
    margin: 4px 0;

}

.dashboard-table {
    width: 100%;
}

.dashboard-table thead td{
    color: white;
    background-color: #00875A;
    padding: 2px;
}

.dashboard-table td {
    padding: 2px;
}

.dashboard-table tr:nth-child(even) {
    background-color: rgb(221, 220, 220);
}


/*new css*/
.request-card{
    border-color: rgba(162, 162, 162, 0.607);
    border-style:solid;
   
    max-width: 70%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    background-color: rgb(169, 240, 189);
    border-radius: 8px;
    margin-bottom: 10px;
}
.card-item-info{
    display: flex;
    justify-content: space-between;
    
    
}
.car-item-list{
    background-color: white;
    width: 50%;
    border-radius: 8px;
    padding: 0px 10px;
}
.card-btns{
    margin-top: 20px;
    display:flex;
    justify-content:space-around;
    
}

.card-btns button{
    padding: 10px 0px;
    width: 40%;
    min-width: 100px;
    border-radius: 8px;
    border-style: none;
}
.card-container{
    margin-left: 28%;
    text-align: start;
    
}
.card-info{
    margin-right: 20px;
}
.cancel-btn{
    background-color: #cb2132;
    color:white;
}
.cancel-btn:hover{
    background-color: #ae1423;
}
.approve-btn{
    background-color: #00875A;
    color:white;
}
.approve-btn:hover{
    background-color: #01734d;
}
.pickup-btn ,.return-btn{
    background-color: white;
}
.pickup-btn:hover ,.return-btn:hover{
    background-color: rgb(175, 175, 175);
}


/* lectturer-technician css */
.type-btn{
    padding: 20px;
    background-color: #4FBF78;
    max-width: 240px;
    min-width: 180px;
    width: 20%;
    border-style: none;
    color:white;
    font-weight: 600;
    margin-bottom: 20px;
}

.lec-active{
    background-color: #00875A;
}

.my-requests, .current-requests{
    border-top-left-radius: 8px; 
    border-bottom-left-radius: 8px;
}

.others-requests, .canceled-requests{
    border-top-right-radius: 8px; 
    border-bottom-right-radius: 8px;
}

.current-requests, .canceled-requests, .returned-requests{
    min-width: 140px;
}

.my-requests{
    margin-left: 5%;
}

.current-requests{
    margin-left: 6%;
}

@media screen and (max-width: 1000px) {
    .card-container{
        margin-left: 20px;           
        margin-right: 20px;           
    }
    .request-card{
        max-width: 100%;
        min-width: 320px;
        margin: 0 10px;
    }
    .card-item-info{
        flex-direction: column;
    }
    .car-item-list{
        width: 100%;
    }
    .current-requests{
        margin-left: 0;
    }
  }

@media screen and (max-width: 500px) {
    .card-container{
        margin-left: 0px;  
        margin-right: 0px;                    
    }
    .request-card{
        max-width: 100%;
        min-width: 320px;
    }
    .card-item-info{
        flex-direction: column;
    }
    .current-requests{
        margin-left: 0;
    }
  }
  
