.cart {
    flex-direction: column;
    justify-content: flex-end;  
    color: black;
    box-shadow: 0 10px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: none;
    padding: 15px;
    border-radius: 5px;
    margin-right: 10px;
    height: 50%;
    margin-left: 5%;
    position: sticky;
    position: -webkit-sticky;
    top: 28%;
    min-width: 350px;
}

.cart .cartCloseBtn{
    display: none;
}

.cartCloseOpentBtn{
    display: none;
}

.detail{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}

.product-cart {
    margin-bottom: 20px;
    border-bottom: #B3B3B3 1px solid;
}

.wrapper-request{
    display: flex;
    gap:  40px;
}

.product_title{
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: center;
}

.product_qty{
    display: flex;
    align-items: center;    
    font-size: 25px;
    height: 30px;
    min-width: 60px;
    gap:10px;
}

.quantity{
    border-right: 0.5px solid rgba(0,0,0,0.2);
    border-left: 0.5px solid rgba(0,0,0,0.2);
    padding: 0px 10px;
}

.close-button{
    
    align-items: center;
    float: right;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

#clear-btn{
    width:120px;
}

#request-btn{
    width:120px;
}
.req-title {
    padding: 2px;
    margin-top: 2px;
    border-bottom: #B3B3B3 1px solid;
    color: #00875A;
}

.Total{
    display: flex;
    justify-content: space-around;
    min-height: 80px;
    font-size: 25px;
}

.Summary-header{
    border-top: #B3B3B3 1px solid;
}

#inscreasebtn{
    background: white ;
    color: #00875A ;
    font-size: 20px;
    border: 1px solid  ;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

#inscreasebtn:hover{
    cursor: pointer;
    background: #00875A ;
    color: white;
}

#decreasebtn{
    background: white ;
    color: #00875A ;
    font-size: 20px;
    border: 1px solid  ;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

#decreasebtn:hover{
    cursor: pointer;
    background: #00875A ;
    color: white;
}

@media only screen and (max-width: 1000px) {
    .Request {
        width: 25%;
    }
    .cartCloseOpentBtn{
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        border-radius: 90px;
        background-color: #4FBF78;
    }
    .cartCloseOpentBtn:hover{
        background-color: #00875A ;

    }
    .cartCloseOpentBtn img{
        height: 50px;
        width: 50px;
        padding: 10px;
        z-index: 10;
    }
    .nonactive {
        display: none;
    }
    .cart{
        position: fixed;
        top: 25%;
        margin: 0;
        background-color: white;
    }
    .cart .cartCloseBtn{
        height: 40px;
        width: 40px;
        padding: 10px;
        display: block;
        position: fixed;
        top: 15px;
        right: 15px;
        border-radius: 8px;
    }
    .cart .cartCloseBtn:hover{
        background-color: rgb(188, 188, 188);
    }
}

@media screen and (max-width: 500px){
    .cartCloseOpentBtn{
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        border-radius: 90px;
        background-color: #4FBF78;
    }
    .cartCloseOpentBtn:hover{
        background-color: #00875A ;

    }
    .cartCloseOpentBtn img{
        height: 50px;
        width: 50px;
        padding: 10px;
        z-index: 10;
    }
    .nonactive {
        display: none;
    }
    .cart{
        position: fixed;
        top: 25%;
        margin: 0;
        background-color: white;
    }
    .cart .cartCloseBtn{
        height: 40px;
        width: 40px;
        padding: 10px;
        display: block;
        position: fixed;
        top: 15px;
        right: 15px;
        border-radius: 8px;
    }
    .cart .cartCloseBtn:hover{
        background-color: rgb(188, 188, 188);
    }
}