.Request {
    width: 15%;
    left: 993px;
    top: 250px;
    border-radius: 0px;
    margin-left: auto;
    margin-top: 20px;
    background: #F8F8F8;
    border: 1px solid #B3B3B3;
    color: black;
}

@media only screen and (max-width: 1000px) {
    .Request {
        width: 25%;
    }
}

.items {
    padding: 15px;
}

.buttons {
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px;
}

.req-title {
    padding: 2px;
    margin-top: 2px;
    border-bottom: #B3B3B3 1px solid;
    color: #00875A;
}